/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
}

/****** Header *******/

/****** Navigation Bar ***********/

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-header img {
  width: 60px;
  height: 19px;
}

.navigation-header ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.navigation-header ul li {
  padding: 15px;
  border: 1px solid transparent;
}

.navigation-header li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Search Container ******/

.search-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  line-height: 18px;
  margin-bottom: 20px;
}

.search-title h1 {
  font-size: 22px;
}

/****** Search Bar ******/

.search-bar-wrapper {
  display: flex;
  height: 50px;
}

.search-bar {
  display: flex;
  height: 100%;
}

.search-bar .fa-solid {
  padding: 17px;
  color: #000000;
  font-size: 18px;
  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
}

#location {
  height: 100%;
  border: none;
  padding: 0px 15px 0px 15px;
  border: 1px solid var(--main-bg-color);
  width: 175px;
  /* Bullshit https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
}

#submit {
  width: 132px;
  height: 100%;
  border: none;
  color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--main-color);
  cursor: pointer;
}

#location:focus {
  outline: none;
}

.search-bar input[type="text"],
.search-bar input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
}

/****** Filters ******/

.search-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-filters .fa-solid {
  color: var(--main-color);
}

.search-filters h2 {
  font-size: 18px;
}

.flex-filters {
  display: flex;
  gap: 15px;
}

.flex-filters a {
  font-size: 17px;
  font-weight: bold;
  padding: 12px;
  border-radius: 50px;
  border: 2px solid var(--main-bg-color);
}

.flex-filters a:hover {
  background-color: var(--filter-bg-color);
}

.flex-filters a i {
  padding-right: 10px;
}

/****** Search Indication ******/

.search-indication {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-indication i {
  font-size: 12px;
  border: 1px solid #d9d9d9;
  padding: 4px 9px 4px 9px;
  border-radius: 100%;
}

/**** Cards *****/

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
}

.hebergements-cards img {
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-top: 10px;
  margin-bottom: 5px;
}

.hebergements-cards .card-rating i {
  font-size: 16px;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
