/*********** General ***********/

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*********** Header ***********/

/*********** Navigation Bar ***********/

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-header img {
  width: 60px;
  height: 19px;
}

.navigation-header ul {
  display: flex;
  justify-content: flex-start;
}

.navigation-header ul li {
  padding: 15px;
  border: 2px solid transparent;
}

.navigation-header li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*********** Search Container ***********/

.search-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 20px;
}

.search-title p {
  margin: 0;
}

.search-title h1 {
  font-size: 22px;
  margin: 0 0 10px 0;
}

/*********** Search Bar ***********/

.search-bar-wrapper {
  display: flex;
  height: 50px;
}

.search-bar {
  display: flex;
  height: 100%;
}

.search-bar .fa-location-dot {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 18px;
  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
}

.search-bar .fa-magnifying-glass {
  display: none;
  color: #ffffff;
}

#location {
  height: 100%;
  border: none;
  padding: 0px 15px 0px 15px;
  border: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  width: 185px;
}

#submit {
  width: 132px;
  height: 100%;
  border: none;
  color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--main-color);
  cursor: pointer;
}

#location:focus {
  outline: none;
}

#location,
#submit {
  font-size: 18px;
  font-weight: bold;
}

/* Remove native input appearance */

input[type="search"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: transparent !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/*********** Filters ***********/

.search-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-filters .fa-solid {
  color: var(--main-color);
}

.search-filters h2 {
  font-size: 18px;
}

.flex-filters {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.flex-filters div {
  display: flex;
  gap: 15px;
}

.flex-filters a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 15px 15px;
  border-radius: 50px;
  border: 2px solid var(--main-bg-color);
  font-size: 17px;
  font-weight: bold;
}

.flex-filters a:hover {
  background-color: var(--filter-bg-color);
}

.flex-filters a i {
  padding-right: 10px;
}

/*********** Search Indication ***********/

.search-indication {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-indication .fa-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  height: 25px;
  width: 25px;
  font-size: 12px;
  border-radius: 100%;
}

/*********** Cards ***********/

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/*********** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

/*********** Hebergements ***********/

.hebergements {
  width: 65%;
}

.hebergements-title {
  margin-bottom: 33px;
}

.hebergements-more {
  margin-top: 33px;
}

.hebergements-more h3 {
  font-size: 18px;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hebergements-cards img {
  height: 130px;
  min-height: 130px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
  margin: 10px 0 10px 0;
}

.hebergements-cards .card-content {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-top: 10px;
}

.hebergements-cards .card-rating i {
  font-size: 15px;
}

/*********** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*********** Activities ***********/

.activites {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.activites-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.activites-cards a {
  width: 100%;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.activites-cards img {
  height: 380px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  display: flex;
  flex-direction: column;
  height: 59px;
}

.activites-cards .card-txt {
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.activites-title {
  margin: 33px 0 25px 0;
}

/*********** Footer Container ***********/

.footer-container {
  display: flex;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--main-bg-color);
}

.footer-container h2 {
  font-size: 18px;
}

.footer-container div {
  width: 35%;
}

.links-container ul li {
  padding: 5px 0 5px 0;
}

/*********** Media queries ***********/


@media (max-width: 1120px) {


  /*********** Hebergements ***********/

  .hebergements-cards h3 {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

  /*********** Filters ***********/
  .search-filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  /*********** Hebergements And Populaires ***********/

  .hebergements-and-populaires {
    flex-direction: column;
    gap: 20px;
  }

  /*********** Hebergements ***********/

  .hebergements {
    width: 100%;
  }

  .hebergements-cards {
    gap: 13px;
  }

  .hebergements-cards h3 {
    font-size: 16px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 16px;
  }

  /*********** Populaires ***********/

  .populaires {
    width: 100%;
    margin-top: 20px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /*********** Activities ***********/

  .activites-cards img {
    height: 200px;
  }

  .activites-cards .card-content {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /*********** Body ***********/

  .main-container {
    padding: 0;
  }

  /*********** Header ***********/

  /*********** Navigation Bar ***********/

  nav {
    flex-direction: column;
    margin-top: 20px;
  }

  .logo-header {
    justify-content: center;
  }

  .navigation-header ul {
    width: 100%;
    padding-top: 20px;
  }

  .navigation-header ul li {
    width: 50%;
    text-align: center;
  }

  .navigation-header ul li:hover {
    border: 2px solid transparent;
    border-bottom: 2px solid var(--main-color);
  }

  /*********** Search Container ***********/

  .search-container {
    margin-top: 35px;
    margin-bottom: 0;
    padding: 0 25px;
    gap: 25px;
  }

  .search-title {
    width: 90%;
  }

  /*********** Search Bar ***********/

  #location {
    width: 100%;
  }

  .search-bar {
    position: relative;
    width: 100%;
  }

  #submit {
    position: absolute;
    width: 49px;
    right: -5px;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 5px rgba(0, 4, 0, 0.4));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #submit span {
    display: none;
  }

  #submit .fa-magnifying-glass {
    display: block;
  }

  /*********** Filters ***********/

  .search-filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .flex-filters {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-filters div {
    width: 100%;
  }

  .flex-filters div a {
    width: 50%;
  }

  .flex-filters a {
    font-size: 14px;
  }

  .flex-filters a i {
    font-size: 18px;
  }

  /*********** Hebergements And Populaires ***********/

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 0;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  /*********** Hebergements ***********/

  .hebergements {
    background-color: #ffffff !important;
  }

  .hebergements-title {
    margin-bottom: 17px;
  }

  .hebergements-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  /*********** Populaires ***********/

  .populaires {
    background-color: var(--main-bg-color);
  }

  .populaires-title {
    margin-bottom: 17px;
  }

  .populaires-cards {
    flex-direction: column;
    gap: 15px;
  }

  .populaires-cards .card {
    margin-top: 0;
  }

  .populaires-cards a {
    width: 100%;
  }

  /*********** Activities ***********/

  .activites-cards {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .activites-cards .card-content {
    height: 59px;
  }

  .activites-cards a {
    width: 100%;
  }

  .activites-cards img {
    height: 141px;
  }

  /*********** Footer Container ***********/

  .footer-container {
    flex-direction: column;
    gap: 15px;
    padding: 30px;
  }

  .footer-container div {
    width: 100%;
  }
}
